{% extends 'portfolio/base.html' %} {% block content %} Hello blog

<!-- This helps keep a word 'ex: blogs' properly pluralized: {{ blogs.count|pluralize }} -->
<h2>There's {{ blogs.count }} blog{{ blogs.count|pluralize }} written!</h2>

{% for blog in blogs %}

<a href="{% url 'blog:detail' blog.id %}"><h2>{{ blog.title }}</h2></a>
<h5>{{ blog.date|date:'M d Y'|upper }}</h5>
<!-- Use 'striptags' to hide any html tags in a blog post (or 'safe' to add boldness/new line for tag) -->
<!-- Use 'truncatechars:' to shorten display of characters in a blog post -->
<p>{{ blog.description|striptags|truncatechars:200 }}</p>

{% endfor %} {% endblock %}
